@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
  *::selection {
    color: rgba(30, 30, 30, 1);
    background-color: rgba(50, 250, 150, 1);
  }
}